.toggle-nav { 
	@include transform( translateZ(0) );
	outline: none;
	color: $primaryColor;
	display: none;
	position: fixed;
	background: rgba(255,255,255,0.8);
	top:10px; left: 10px;
	z-index: 24;
	height: 42px;
	padding: 10px 10px 10px 40px;
	font-weight: 700;
	@include transition( 0.2s all $ease-in-out-sine 0s );
	text-transform: uppercase;
	box-shadow: 0 0 5px rgba(0,0,0,0.4); 
	
	@media screen and (max-width: 600px) {
		font-size:0;
		padding-left: 30px;
	}
		
	.show-nav &,
	&:hover {
		background: $primaryColor;
		color:#fff;
		span { 
			&,
			&:before,
			&:after { border-top-color: #fff; }
			
			.show-nav & { border-top-color: #fff; }
		}
	}
	
	
	span {
		width: 20px; height: 10px;
		left:10px;
		margin-top: -1px;
		position: absolute;
		top: 50%;
		border-top:  2px solid $primaryColor;
		
		&,
		&:before,
		&:after {
			@include transition( all 0.2s $ease-in-out-sine 0s );
		}
		
		.show-nav & { border-top-color: $primaryColor !important; left: 16px;}
		
		&:before,
		&:after {
			content:"";
			position: absolute;
			top: -9px; 
			left:0; right:0;
			border-top: 2px solid $primaryColor;
			@include transform-origin( top left );
			.show-nav & {
				margin-left: -1px;
				@include transform( rotate3d(0,0,1,45deg) );
			}
			
		}
		
		&:after { 
			top: auto; bottom:1px;
			@include transform-origin( bottom left );
			.show-nav & { @include transform( rotate3d(0,0,1,-45deg) ); }
		}
		
	}
	
}

.nav {
	position: fixed;
	top:0; left:0; right:0;
	z-index: 12;
}

/* nav overlay */
.show-nav-overlay body {
	height: 100vh;
	overflow: hidden;
}

.nav-overlay {
	position: fixed;
	height: 100vh;
	opacity:0;
	z-index: 45;
	background: rgba($secondaryColor,0.95); 
	top:0; left:0; right:0; bottom:0;
	@include transition( 0.4s transform $ease-in-out-sine, 0.4s opacity $ease-in-out-sine 0.5s );
	@include transform( translate3d(0,-100%,0) );
	overflow: auto;
	.show-nav-overlay & {
		opacity:1;
		@include transform( translate3d(0,0,0) );
		@include transition-delay( 0s, 0s );
	}
	
	.sw {
		padding: 40px;
		height: 100vh;
		@include display( flex );
		@include flex-flow( column nowrap );
		@include justify-content( center );
	}
	
	.toggle-nav-overlay {
		position: absolute;
		font-weight:600;
		top:40px; right:40px;
		text-transform: uppercase;
		cursor: pointer;
		display: inline-block;
		padding: 6px;
		border-radius: $buttonBorderRadius;
		
		&:hover {
			background: $primaryColor;
			&:before { color: $primaryColor; }
		}
		
		&:before {
			float:right;
			padding: 3px;
			background: #fff;
			border-radius: 50%;
			color: $secondaryColor;
			margin-left: 5px;
		}
	}
	
}

.nav-overlay-callouts,
.nav-overlay .menu-item-group,
.nav-overlay-grid {
	@include display( flex );
}

.nav-overlay-callouts {
	@include flex-flow( row wrap );
}

.nav-overlay .menu-items,
.nav-overlay-col {
	@include flex( 1 1 50% );
}

.nav-overlay-callout {
	text-transform: uppercase;
	font-size: 14px;
	margin: 0 8px;
	text-align: center;
	cursor: pointer;
	.t { display: block; }
}

.nav-overlay .menu-item-group {
	& + .menu-item-group {
		margin-top: 10px;
		padding-top: 10px;
		border-top: 1px solid darken($secondaryColor,5);
	}
}

.nav-overlay-col {
	padding: 60px;
	&:first-child {
		@include display( flex );
		@include align-items( center );
		text-align:center;
		border-right: 1px solid darken($secondaryColor,5);
	}
}

.nav-overlay .menu-items ul {
	margin-bottom: 10px; 
	a {
		color: #fff;
		text-transform: uppercase;
		display: block;
		padding: 8px;
		font-size: 14px;
		margin-right: 5px;
		border-radius: $buttonBorderRadius;
		&:hover { background: $primaryColor; }
	}
}

@media screen and (max-width: 1050px) {
	.nav-overlay-grid,
	.nav-overlay-col { display: block; }
	.nav-overlay-col { padding: 20px; border: none !important;}
	.menu-items { text-align:center; }
	
	.nav-overlay-callouts { 
		display: block; 
		text-align: center;
	}
	
	.nav-overlay-callout { display: inline-block; }
	.nav-overlay .social { @include justify-content( center ); }
}


nav {
	position: absolute;
	top:40px; left:0; right:0;
	padding: 12px 0;
	@include transition( $smallNavDuration all $smallNavEasing );

	ul { 
		@include display( flex ); 
		@include justify-content( flex-end );
	}
	
	li { 
		margin-left: 5px; 
	}
	
	a { 
		color: #fff;
		text-transform: uppercase; 
		padding: 6px 14px;
		display:block;
		border-radius: $buttonBorderRadius;
		@include transition( 0.15s background $ease-in-out-sine );
		&:hover { background: rgba($secondaryColor,0.7); }
	}

}


/* small nav */
.small-nav {
	
	nav {
		@include transform( translate3d(0, -45px, 0) );
		background: $secondaryColor;
		
		a {
			&:hover { background: $primaryColor; }
		}
	}
}

/* collapsed nav */
@media screen and (max-width: $collapseNavAt) {

	.show-nav body { height: 100vh; }

	.toggle-nav {  display: block;  }
	
	.nav {
		@include transition( 0.3s transform $ease-in-out-sine, 0.4s opacity $ease-in-out-sine 0.4s );
		opacity:0;
		height: 100vh !important;
		position:fixed;
		top:0; left:0; right:0;
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		padding-top: 60px;
		@include transform( translate3d(0,-100vh,0) !important );
		.show-nav & { 
			@include transition-delay( 0s );
			@include transform( none !important ); 
			opacity:1;
		}
		background: rgba($secondaryColor,0.9);
	}
	
	.nav-overlay {
		opacity:1;
		@include transform( none !important );
		position: static;
		
		&,
		& .sw { height: auto; padding:0;}
		
	}
	
	.toggle-nav-overlay { display: none !important; }
	
	nav {
		position: static;
		background: transparent !important;
		@include transform( none !important );
		z-index: 3;
	
		&,
		ul { display: block; }
		
		ul { margin: 0 0 10px; }
		
		li a {
			background: darken($primaryColor,10);
			border: none !important;
			margin-bottom: 1px;
			&:hover { background: darken($primaryColor,30); }
		}

	}
	
}

@media screen and (max-width: 650px) {
	.nav-overlay {
		
		.menu-item-group { display: block; border: none !important}
		.menu-items { margin: 0 0 30px; }
	}
}