/* hero */
.hero {
	
	background: #000; 
	position: relative;
	
	.fader-item {
		height: 100vh;
		min-height: 400px;
		max-height: 600px;
		
		position: relative;
		background-color: #000;
		@include display( flex );
	}
	
}

.hero-content { 
	@include display( flex );
	@include flex-flow( column nowrap );
	@include justify-content( center );
	text-align:center;
	color: #fff;
	position: relative;
	z-index: 2;
	width:100%;
	margin: 0 auto 40px;
	
	.title,
	.subtitle {
		width: 500px;
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}
	
	.title {
		font-weight: 700;
		text-transform: uppercase;
		font-size: 36px;
	}
	
	.subtitle {
		font-weight: 200;
		font-size: 18px;
	}
	
}

@media screen and (max-width: 600px) {

	.hero-content {
		margin-top: -40px;
		width: 95%; 
		
		.hgroup-title { font-size: 24px; }
		.hgroup-subtitle { font-size: 14px;}
		p { display: none; }
		
		.hgroup:after { border-color: #fff; }
		
	}
	
	.hero {
		
		.fader-item.with-content {
			height: auto;
			min-height:0;
			max-height: none;
		}
		
	}

}